<div>
  <h1 class="text-3xl">Posts</h1>

  <%= link_to("New Post", new_post_path) %>

  <div class="posts mx-auto mt-10">
    <% @posts.each_with_index do |post, index| %>
      <article class="flex w-100 rounded-lg border border-slate-300 p-2 mb-2">
        <div class="date-box mr-2">
          <div><%= post.created_at.strftime("%b %d") %></div>
          <div class="text-xl"><%= post.created_at.strftime("%Y") %></div>
        </div>
        <div class="flex-col grow">
          <h3 class="text-xl w-full">
            <%= link_to(post.title, post_path(post)) %>
          </h3>
          <p class="block">
            <%= truncate(post.body) { link_to("... read", post_path(post)) } %>
          </p>
        </div>
        <div class="pt-2">
          <p class="font-semibold text-gray-900">
              <%= post.author %>
          </p>
        </div>
      </article>
    <% end %>
  </div>
</div>
